@{ ViewData["Title"] = "Get a Quote"; }

<head>
    <link href="~/css/GetQuote/GetQuoteLarge.css" rel="stylesheet" />
</head>

<!--Main Wrapper-->
<div class="divMainWrapper">
    <h4>Get a Quote</h4>
    <input class="form-control" placeholder="First Name *" />
    <input class="form-control" placeholder="Last Name *" />
    <input class="form-control" placeholder="Email *" />
    <input class="form-control" placeholder="Username" />
    <select class="form-control">
        <option selected hidden>Pick and Item</option>
        <option>Item 2</option>
        <option>Item 3</option>
    </select>
    <input placeholder="Quantity" class="form-control"/>
    <textarea class="form-control" placeholder="Tell us more about what you're looking for."></textarea>
    <button class="btn btn-primary">Send Message</button>
</div>