@{ViewData["Title"] = "My Account";}

<head>
    <link href="~/css/MyAccount/MyAccountLarge.css" rel="stylesheet" />
</head>

<!--Main Wrapper-->
<div class="mainOptionsWrapper">
    <button class="btn btn-primary">Edit Your Details</button>
</div>
<div class="mainAccountWrapper">
    <!--Header-->
    <h4>Account Details</h4>
    <hr/>
    <!--Left Split-->
    <div class="divLeftSplitter">
        <p><strong>First Name:</strong> Nicholas <button class="btn btn-outline-dark editButton">Edit</button></p>
        <p><strong>Last Name:</strong> Bryant <button class="btn btn-outline-dark editButton">Edit</button></p>
        <p><strong>Email:</strong> NicholasBryantNJ@gmail.com <button class="btn btn-outline-dark editButton">Edit</button></p>
        <p><strong>Phone Number:</strong> (732) 841-1021 <button class="btn btn-outline-dark editButton">Edit</button></p>
        <p><strong>Username:</strong> NBryantNJ</p>
        <p><strong>Password:</strong> ********* <button class="btn btn-outline-dark editButton">Edit</button></p>

    </div>
    <!--Right Split-->
    <div class="divRightSplitter">
        <p><strong>Street Address:</strong> 106 Main Street <button class="btn btn-outline-dark editButton">Edit</button></p>
        <p><strong>City:</strong> Matawan <button class="btn btn-outline-dark editButton">Edit</button></p>
        <p><strong>State:</strong> New Jersey <button class="btn btn-outline-dark editButton">Edit</button></p>
        <p><strong>Zip Code:</strong> 08854 <button class="btn btn-outline-dark editButton">Edit</button></p>
        <button class="btn btn-info btnCustomerViewPastOrders">Account Active: 2 Months</button>
    </div>
</div>
